@font-face {
  font-family: 'Gotham Narrow';
  src: url('fonts/gotham-narrow/Gotham-Narrow-Book.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotham-narrow/Gotham-Narrow-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gotham-narrow/Gotham-Narrow-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gotham-narrow/Gotham-Narrow-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham-narrow/Gotham-Narrow-Book.svg#svgGothamNarrow') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gotham Narrow Bold';
  src: url('fonts/gotham-narrow/Gotham-Narrow-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotham-narrow/Gotham-Narrow-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gotham-narrow/Gotham-Narrow-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gotham-narrow/Gotham-Narrow-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotham-narrow/Gotham-Narrow-Bold.svg#svgGothamNarrow') format('svg'); /* Legacy iOS */
}